@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --font: "Rubik", sans-serif;
}

body {
    background-color: #f4f4f9;
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

.book-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 18px;
    padding: 18px;
    width: 100%;
    box-sizing: border-box;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 16px;
}

::backdrop {
    opacity: 0.75;
}

input[type="text"], input[type="number"], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
}

#radio {
    display: flex;
    justify-content: flex-start;
    gap: 28px;
    margin: 8px 0;
}

button {
    cursor: pointer;
}

button#close-button {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width:  40px;
    height: 40px;
    border-style: none;
}

#close-button-container {
    display: flex;
    justify-content: end;
}

#submit, #new-book, #close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: button;
    backface-visibility: hidden;
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    font-family: var(--font);
    font-size: 100%;
    height: 44px;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s, box-shadow .08s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#submit {
    padding: 0 25px;
}

#new-book {
    width: 60px;
    height: 60px;
}

#submit:focus, #new-book:focus, #close-button:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

#submit:hover, #new-book:hover, #close-button:hover {
    background-color: #0052cc;
}

dialog {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border: 2px solid #ccc;
    border-radius: 8px;
}

